body {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.69) 50%,
    rgba(255, 255, 255, 0.69) 50%
  );
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 1);
}

/* TOTAL-PAGE-CONTAIN-SECTION*/

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* EACH-SECTION-SIZE*/

.jumbotron {
  width: 100%;
  background: transparent;
}

/* PASSWORD-EYE-CSC */
.eye {
  position: absolute;
  margin-top: 1.4rem;
  margin-left: -2rem;
}

/* DEFAULT-USE*/
.box {
  padding: 3rem;
}
.display-4 {
  font-size: 1.2rem;
  font-family: "Baloo Tamma 2", cursive;
  margin-bottom: 0.5rem;
}
/* INPUT-box */

.input {
  background: transparent;
  margin-top: 10px;
  border: 0px;
  border: 2px solid #151820;
  width: 100%;
  color: black;
  font-family: "Baloo Tamma 2", cursive;
  padding: 10px;
}
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
/* COMPANY-TEXT-TYPES */
.company-text-2 {
  font-family: "Baloo Tamma 2", cursive;
  text-align: center;
  display: block;
}
.company-text {
  font-family: "Baloo Tamma 2", cursive;
  text-align: center;
  display: block;
  font-size: 3rem;
}

/* SUBMIT-BUTTON */
.btn-danger {
  background: #151820;
  border-color: black;
  border-color: #151820;
  font-family: "Baloo Tamma 2", cursive;
}
.btn-danger:hover {
  background: transparent;
  transition-delay: 0.3s;
  border-color: #151820;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

/*LINK */
.text-design {
  font-size: 12px;
  margin-top: 0.5rem;
}

a {
  color: rgb(0, 0, 0);
  margin-left: 0.3rem;
}
a:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  margin-left: 0.3rem;
}

/* SOCIAL-ICON */
.social-icon-pack {
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}
.text-muted {
  margin-top: 0.4rem;
  color: #f7f7f7 50%;
  font-family: "Baloo Tamma 2", cursive;
}
/* RESPONSIVE-CSS */
@media screen and (max-width: 767px) {
  body {
    background-image: linear-gradient(to top, #e7d3bd 50%, #e46a38 50%);
  }
  section {
    height: auto;
  }
}
